/****************** Master Styles ******************/
body {
  font-family: "Lato", sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

section {
  width: 100%;
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/****************** Nav Styles ******************/
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

/* Used to hide bars used in mobile mode */
.bars {
  display: none;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

/****************** Intro Styles ******************/
.intro-text p:nth-child(1) {
  font-family: calibri;
  font-weight: bold;
  color: #6d6d6d;
  font-size: 22px;
}

.intro-text p:nth-child(2) {
  font-family: calibri;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 60px;
}

.intro-text p:nth-child(3) {
  font-family: myriad pro regular;
  color: #403e3e;
  font-size: 30px;
  line-height: 30px;
}

.intro-text {
  position: relative;
  margin: 50px;
}

.intro-text button {
  width: 130px;
  height: 42px;
  border-radius: 10px;
  font-family: calibri;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  margin: 0px 10px;
}

.down-cv {
  background-color: #0b0b0b;
  color: #ffffff;
  border: none;
}

button:hover {
  transform: scale(1.1);
}

/****************** SKILLS Styles ******************/
.skills-title h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 50px;
  text-align: center;
}

.skills-title {
  margin: 0px;
  border: 0px;
  padding: 0px;
  height: 125px;
}

/****************** Portfolio Styles ******************/
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}

.logo-wrapper img {
  justify-content: center;
  width: 50%;
  margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
  font-weight: 600;
  transition: 1s;
  color: transparent;
}

.img-text-wrapper:hover .subtitle {
  font-weight: 600;
  color: lightseagreen;
}

.img-darken {
  transition: 1s;
  filter: brightness(10%);
}

/****************** About page ******************/
.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-img-wrapper img {
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
}

.profile-content-wrapper h1 {
  color: lightseagreen;
}

/****************** Social Page ******************/
.social-items-wrapper {
  display: grid;
}

.social-item-wrapper {
  position: relative;
}

.img-text-wrapper {
  padding-left: 10%;
}

.social-img-background {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/****************** Phone Display ******************/
@media only screen and (max-width: 450px) {
  /******** Nav Styles ********/
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
  }

  .left-side {
    display: flex;
  }

  /* Used to hide home menu item when on a phone */
  .left-side > .nav-link-wrapper {
    display: none;
  }

  .nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
  }

  .nav-wrapper > .left-side > .bars > div {
    height: 4px;
    background-color: black;
    margin: 5px 0;
    border-radius: 25px;
    transition: 0.3s;
  }

  .bars {
    width: 30px;
    display: block;
    margin: 1em 0 0 1em;
  }

  .bars ul {
    display: none;
  }

  .bars:hover ul {
    display: block;
  }

  .bars ul li {
    list-style: none;
  }

  .one {
    width: 30px;
  }

  .two {
    width: 20px;
  }

  .three {
    width: 25px;
  }

  .bars:hover div {
    width: 30px;
  }

  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }

  .nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
  }

  .nav-link-wrapper:hover {
    border-bottom: 1px solid black;
  }

  .nav-link-wrapper a:hover {
    color: black;
  }

  .active-nav-link {
    border-bottom: 1px solid black;
  }

  .active-nav-link a {
    color: black !important;
  }

  /******** Portfolio Styles ********/
  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  /******** About page ********/
  .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}
